body {
    margin: 0px;
    padding: 0px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
}

#Calculadora {
    width: 250px;
    height: 395px;
    background: #000;
    border-radius: 30px;
}

#display {
    padding: 10px 10px 0px 10px;
}

#screenEquation {
    display: flex;
    width: 230px;
    height: 25px;
    color: #fff;
    text-align: right;
}

#displayScreen {
    /* margin-top: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: end;
    color: #fff;
    font-size: 50px;

    text-overflow: clip;
    overflow: hidden;
    border: 1px;
    white-space: nowrap; 
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

#btnN0 {
    width: 110px;
    color: #fff;
    text-align: center;
}

.btnFunctions {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(0deg 0% 62%);
    font-weight: bold;
}

.btnNumbers {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(0deg 0% 19%);
    color: #fff;
    font-weight: bold;
}

.btnOperations {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

#btnEqual {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

#btnLess {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace
}