body {
    margin: 0px;
    padding: 0px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
}

#Calculadora {
    width: 250px;
    height: 440px;
    background: #000;
    border-radius: 30px;

}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
}

#screenEquation {
    width: 230px;
    height: 25px;
    color: #fff;
    text-align: right;
    margin-left: -20px;
    vertical-align: bottom;
}

#displayScreen {
    /* margin-top: 70px; */
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: end;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0px 10px;

    text-overflow: clip;
    max-width: 15ch;
    overflow: hidden;
    border: 1px;
    white-space: nowrap; 
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.row1 {
    display: flex;
    justify-content: end;
    align-items: unset;
    margin-top: 10px;
    margin-right: 10px
}

#btnN0 {
    width: 110px;
    color: #fff;
    text-align: center;
    margin-right: 10px
}

.btnFunctions {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(0deg 0% 62%);
    font-weight: bold;
}

.btnNumbers {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(0deg 0% 19%);
    color: #fff;
    font-weight: bold;
}

.btnOperations {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
}

#btnEqual {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
}

#btnLess {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: hsl(37deg 95% 49%);
    color: #fff;
    font-weight: bold;
}
/* * {
    border-color: red;
} */